<div class='commentMenu group flex flex-col items-center before:block before:absolute before:px-10 before:py-12 relative '>
    <span class='relative'>...</span>
    <div class="z-10 text-center group-hover:flex flex-col hidden  ">
    <button class="btn btn-ghost btn-accent block btn-sm edit" data-id="{{id}} data-commenterId ="{{commenterId}}">Edit</button>
    <button class="btn btn-ghost btn-accent block btn-sm delete" data-id="{{id}}">Delete</button>
    </div>
</div>