<div class="w-full h-72  md:h-110 bg-[url('/images/high-self-esteem.jpg')] bg-contain  relative z-1 shadow-lg rounded-sm ">
    <div class="chat chat-start absolute top-6 left-44 animate-chat1 z-0 ">
        <div class="chat-bubble chat-bubble-primary">You are awesome! You deserve the attention!</div>
    </div>
    <div class="chat chat-end absolute top-16  right-24 animate-chat2 -z-10">
        <div class="chat-bubble chat-bubble-info">Ditch the self awareness. Let your achievements shine bright!</div>
    </div>
    <div class="chat chat-start absolute top-2/3 left-12 animate-chat3 -z-10">
        <div class="chat-bubble chat-bubble-secondary">Do you know the best mood booster? "Giving yourself props!"</div>
    </div>
    <div class="chat chat-end absolute bottom-20 right-1  animate-chat4 -z-10">
        <div class="chat-bubble chat-bubble-accent">When you brag two things immediately happen.<br> 1. You model confidence to others. <br>2. You set the bar higher for next time.
        </div>
    </div>
    <div class="chat chat-start absolute top-32 left-24 animate-chat5 -z-10">
        <div class="chat-bubble chat-bubble-success">Brag to your pals, Brag to your pets! Must is to brag to your boss, else it is your loss!</div>
    </div>
    <div class="chat chat-end absolute top-1/2 right-1/2 animate-chat6 -z-10">
        <div class="chat-bubble chat-bubble-warning">Brag thou shall, because brag is an art. </div>
    </div>
    <div class="chat chat-start absolute bottom-24 left-36 animate-chat7 -z-10">
        <div class="chat-bubble chat-bubble-error">Embed brag stacks & make'em visible.</div>
    </div>
</div>
<hr class=" my-8"> 