<div class="stats shadow">
    <div class="stat">
        <div class="stat-figure text-secondary">
            <div class="avatar">
                <div class="w-16 mask mask-hexagon">
                    <img src="/images/{{user.profile_photo}}" alt="post creater photo"/>
                </div>
            </div>
        </div>
        <div class="stat-value text-center">
            {{#if avgRating}}
            {{formatNumber avgRating}}
            {{else}}
            0
            {{/if}}
        </div>
        <div class="stat-title">Average Rating</div>
        <div class="stat-desc text-accent text-lg">Total Ratings: {{ totalRating}}</div>
    </div>
</div>
