<div class="stats shadow">
    <div class="stat">
        <div class="stat-figure text-secondary">
            <div class="avatar">
                <div class="w-16 mask mask-hexagon">
                    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                </div>
            </div>
        </div>
        <div class="stat-value text-center">{{formatNumber avgRating}}</div>
        <div class="stat-title">Average Rating</div>
        <div class="stat-desc text-accent text-lg">Total Ratings: {{ totalRating}}</div>
    </div>
</div>
