{{!-- <form enctype="multipart/form-data"> --}}
<form enctype="multipart/form-data" method='POST' action='/upload'>
<label class="block text-blue-300 py-2 font-bold mb-2" for="avatar">
    Upload your profile picture
</label>
    <input type="file" class="file-input file-input-bordered file-input-accent w-full max-w-xs" name="avatar" />
    <input type="submit" value="Upload " class="btn btn-accent">
</form>