{{>hero-image}}
<main class="home md:grid md:grid-cols-auto-fill md: gap-4 mb-24">
    {{#each brags as |post|}}
        {{> homepage--post-preview-card}}
    {{/each}}
</main>
<script src ="/scripts/homepage.js" type="application/javascript"></script>  